{% extends 'base.html' %}

        {% block content %}
        <section id="dashboard-page" class="dashboard">
            <h1>Dashboard</h1>
            {% if not books %}
            <p class="no-books">No books in database!</p>
            {% else %}
                {% for book in books %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <ul class="my-books-list">
                    {% endif %}
                    <li class="myBooks">
                                <h3>{{ book.title }}</h3>
                                <p>Type: {{ book.type }} </p>
                                <p class="img"><img src="{{ book.image }}" alt=""></p>
                                <a class="button" href="{% url 'details book' pk=book.pk %}">Details</a>
                    </li>
                    {% if forloop.counter|divisibleby:3 or forloop.last %}
                        </ul>>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </section>
        {% endblock %}


